@import '../../index.scss';

.dayCard {
  background: var(--toggle_color);
  border-radius: 5px;
  max-width: 255px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 21px;
  padding-left: 24px;
  padding-right: 31px;
  &:hover {
    background: var(--hover_card);
    cursor: pointer;
  }
  @include mq(1157px) {
    max-width: 326px;
  }

  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
  }

  .data {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    .number {
      font-weight: 700;
      font-size: 32px;
      line-height: 39px;
      color: var(--title);
    }

    .per_data {
      display: flex;
      align-items: center;

      .result {
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: right;
        color: #1eb589;
        margin-left: 2px;
      }
    }
  }
  .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--user_name_color);
  }
}
