@import './index.scss';

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  margin: auto;
  .cards {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 46px;
    @include mq(1157px) {
      gap: 24px;
    }
  }
  .dayCards {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 30px;
    max-width: 1110px;
    @include mq(1157px) {
      gap: 16px;
    }
  }
  .title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
    width: 100%;
    max-width: 1110px;
  }
}
