*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

:root {
  --blue: hsl(246, 80%, 60%);
  --light_redd: hsl(15, 100%, 70%);
  --soft_blue: hsl(195, 74%, 62%);
  --light_red: hsl(348, 100%, 68%);
  --lime_green: hsl(145, 58%, 55%);
  --violet: hsl(264, 64%, 52%);
  --soft_orange: hsl(43, 84%, 65%);
  --very_dark_blue: hsl(226, 43%, 10%);
  --dark_blue: hsl(235, 46%, 20%);
  --desaturated_blue: hsl(235, 45%, 61%);
  --pale_blue: hsl(236, 100%, 87%);
  --hover_blue: hsla(236, 41%, 34%, 1);
  --white: #fff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  line-height: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  padding-inline: 24px;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
