*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html[data-theme='dark'] {
  --body_bg_color: #1d1f29;
  --button-text-color: #ffffff;
  --button-background-color: #4e005c;
  --button-border-color: #ba8fc2;
  --title: #ffffff;
  --background-color: #292929;
  --icon-color: #ba8fc2;
  --sub_title: #8c98c6;
  --toggle_color: #252b42;
  --toggle_background: #40db82;
  --toggle_background_two: #388fe7;
  --user_name_color: #8c98c6;
  --title_section: #ffffff;
  --hover_card: #333a55;
  --hover_toggle_one: #40db82;
  --hover_toggle_two: #388fe7;
}

html[data-theme='light'] {
  --body_bg_color: #ffffff;
  --button-text-color: #252525;
  --button-background-color: #f9d4ff;
  --button-border-color: #4e005c;
  --title: #1d1f29;
  --background-color: #dfdfdf;
  --icon-color: #4e005c;
  --sub_title: #848bab;
  --toggle_color: #f1f3fa;
  --toggle_background: #aeb3cb;
  --toggle_background_two: #aeb3cb;
  --user_name_color: #63687d;
  --title_section: #63687d;
  --hover_card: #e1e4f0;
  --hover_toggle_one: #40db82;
  --hover_toggle_two: #388fe7;
}

:root {
  --body_bg_color: #1d1f29;
  /* Primary */
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);

  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram-start: hsl(37, 97%, 70%);
  --instagram-end: hsl(329, 70%, 58%);
  --youtube: hsl(348, 97%, 39%);

  /* Dark theme
  --toggle-dark-start: hsl(210, 78%, 56%);
  --toggle-dark-end: hsl(146, 68%, 55%);

  /* Light theme */
  --toggle-light: hsl(230, 22%, 74%);

  --bg: white;
  --top-bg: hsl(225, 100%, 98%);
  --card-bg: hsl(227, 47%, 96%);
  --text: hsl(228, 12%, 44%);
  --text-2: hsl(230, 17%, 14%);
}

// [data-theme='dark'] {
//   --body_bg_color: #1d1f29;
//   --para_color: #ffffff;
//   --container_bg_color: #1e2a47;
//   --heading_color: white;
//   --btn_color: #0079ff;
//   --btn_hover_color: #4b6a9b;
// }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  line-height: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  outline: none;
  border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@mixin mq($size) {
  @media screen and (max-width: $size) {
    @content;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  padding-inline: 24px;
  padding-top: 36px;
  padding-bottom: 45px;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--body_bg_color);
  position: relative;
  // background: linear-gradient(
  //   hsl(225, 100%, 98%) 0%,
  //   hsl(225, 100%, 98%) 20%,
  //   hsl(0, 0%, 100%) 20%,
  //   hsl(0, 0%, 100%) 100%
  // );
  background-color: var(--body_bg_color);
}
// body::before {
//   --radius: 1.5em;
//   content: '';
//   position: absolute;
//   width: 100%;
//   height: 15em;
//   z-index: -1;
//   border-radius: 0 0 var(--radius) var(--radius);
//   transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
// }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

// .facebook::before {
//   background: var(--facebook);
// }
// .twitter::before {
//   background: var(--twitter);
// }
// .instagram::before {
//   background: linear-gradient(to right, var(--instagram-start), var(--instagram-end));
// }
// .youtube::before {
//   background: var(--youtube);
// }
